body{
  background-color: rgb(242, 200, 225);
}

.homepage-header{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.homepage-header>h1{
  /* margin: 10px; */
  /* padding: 10px; */
  border: 1px solid red;
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}
.homepage-header>input{
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 10%;
  width: 40%;
}
.button{
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 2%;
  /* width: 40%; */
  align-items: center;
  background-color: rgb(117, 186, 243);
}

.homepage-body{
  /* margin: auto; */
  margin-top: 10%;
  width: 25%;
  border: 3px solid green;
  padding: 10px;
}
.delete{
  background-color: brown;
}


.homepage-body{
  display: flex;
  width: 100%;
  justify-content: space-between;
}